@charset "UTF-8";

@font-face {
  font-family: "BriosoPro Italic";
  font-display: swap;
  src: url("../fonts/BriosoPro Italic.woff") format("woff"), url("../fonts/BriosoPro Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-MediumItalic";
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Thin";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*------Обнуление------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------Обнуление------*/

.container {
  max-width: 1086px;
  padding: 0 30px;
  margin: 0px auto;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: Montserrat;
  color: #252B42;
  background-color: #FAFAFA;
}

.btn_fill {
  background: #FF7B47;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.btn_stroke {
  border: 1px solid #0D5C63;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #0D5C63;
}

.section-header {
  text-align: center;
  margin: 0px 0px 50px 0px;
  padding: 0 20px;
}

.section-header__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 0px 0px 10px 0px;
}

.section-header__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 511px;
  margin: 0px auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__row {
  min-height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 800;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
  margin: 0px 132px 0px 0px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__list a {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #252B42;
}

.header__list li:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.hero {
  padding: 184px 0 191px 0;
  position: relative;
}

.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__image img {
  width: 100%;
  height: 100%;
}

.hero__content {
  max-width: 509px;
  position: relative;
}

.hero__content > :not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.hero__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0.2px;
}

.hero__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #252B42;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__buttons > :not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.features {
  position: relative;
  margin: -115px 0px 0px 0px;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__row > :last-child {
  background-color: #0D5C63;
  color: white;
}

.features .features__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
  margin: 0px 0px 10px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 35px 54px 35px 40px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.features__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.features__icon {
  margin: 0px 0px 15px 0px;
}

.features__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.features__item_green .features__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #fff;
  margin: 0px 0px 10px 0px;
}

.features__item_green .features__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #fff;
}

.advantages {
  padding: 80px 0;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.advantages__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0 15px;
}

.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
  text-align: center;
}

.advantages__item > :not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.advantages__icon img {
  width: 100%;
  height: 100%;
}

.advantages__numbers {
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252B42;
}

.advantages__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #737373;
}

.practice {
  padding: 0px 0px 100px 0px;
}

.practice__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.practice__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.practice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-practice {
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.item-practice__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px;
}

.item-practice__body > :not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-practice__link {
  display: block;
}

.item-practice__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-practice__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}

.whoweare {
  padding: 100px 0px 100px 0;
  background-color: #fff;
}

.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whoweare__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  margin: 0px 50px 0px 0px;
}

.whoweare__video iframe {
  width: 100%;
  height: 100%;
}

.whoweare__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.whoweare__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0px 0px 50px 0px;
}

.whoweare__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items > :not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items__icon {
  margin: 0px 20px 0px 0px;
}

.items__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
  margin: 0px 0px 5px 0px;
}

.items__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe {
  position: relative;
}

.subscribe::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #252B42;
  z-index: -1;
}

.subscribe__partners {
  padding: 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__image img {
  width: 100%;
  height: 100%;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  background-color: #17213C;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
}

.subscribe__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  max-width: 266px;
  margin: 0px 30px 0px 0px;
}

.subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input input {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  padding: 15px 235px 15px 20px;
}

.subscribe__input input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input input::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__btn {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  padding: 15px 22.5px;
  font-size: 14px;
  line-height: 190%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
}

.getintouch {
  padding: 80px 0 100px 0;
  background-color: #f3f3f3;
}

.getintouch__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getintouch__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
}

.item-getintouch {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.item-getintouch > :not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-getintouch__icon {
  max-width: 72px;
}

.item-getintouch__icon img {
  width: 100%;
  height: 100%;
}

.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-getintouch__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #252B42;
}

.item-getintouch__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252B42;
}

.item-getintouch__btn {
  border: 1px solid #FF7B47;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #FF7B47;
}

.item-getintouch__btn:hover {
  text-decoration: none;
}

.item-getintouch_blue {
  background-color: #252B42;
  color: #FFFFFF;
  padding: 80px 40px;
}

.item-getintouch_blue a {
  color: #FFFFFF;
}

.item-getintouch_blue .item-getintouch__text {
  color: #fff;
}

.item-getintouch_blue .item-getintouch__icon {
  max-width: 72px;
}

.item-getintouch_blue .item-getintouch__btn {
  color: #fff;
  border: 1px solid #FFFFFF;
}

.consulcting {
  background-color: #fafafa;
  padding: 40px 0;
}

.consulcting__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consulcting__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.consulcting__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #252B42;
  margin: 0px 0px 10px 0px;
}

.consulcting__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.consulcting__btn {
  border-radius: 5px;
}

.footer {
  background-color: #17213C;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav:not(:last-child) {
  margin: 0px 50px 0px 0px;
}

.footer__nav:last-child .footer__item {
  position: relative;
}

.footer__nav:last-child .footer__item:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.footer__nav:last-child .footer__item:nth-child(2) {
  padding: 0px 0px 0px 34px;
}

.footer__nav:last-child .footer__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("../img/footer/1.svg") center center no-repeat;
}

.footer__nav:last-child .footer__item:nth-child(3) {
  padding: 0px 0px 0px 34px;
}

.footer__nav:last-child .footer__item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 30px;
  background: url("../img/footer/2.svg") center center no-repeat;
}

.footer__nav:last-child .footer__item:nth-child(4) {
  padding: 0px 0px 0px 34px;
}

.footer__nav:last-child .footer__item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 26px;
  background: url("../img/footer/3.svg") center center no-repeat;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list > :not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.footer__item:first-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin: 0px 0px 20px 0px;
}

.footer__item a {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  background-color: #fff;
}

.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer__contacts > :not(:last-child) {
  margin: 0px 20px 0px 0px;
}

@media (max-width: 992px) {
  .hero__image {
    -o-object-position: right;
       object-position: right;
    opacity: 0.7;
  }

  .features .features__title {
    font-size: 18px;
  }

  .features__item {
    padding: 20px;
  }

  .practice__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .practice__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .practice__column:nth-child(1) {
    margin: 0 0 30px 0;
  }

  .practice__column:nth-child(2) {
    margin: 0 0 30px 0;
  }

  .item-practice__body {
    padding: 20px;
  }

  .whoweare__title {
    font-size: 35px;
  }

  .whoweare__text {
    margin: 0px 0px 30px 0px;
  }

  .items > :not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .subscribe__input input {
    padding: 15px 100px 15px 20px;
  }

  .item-getintouch {
    padding: 30px 20px;
  }

  .item-getintouch__icon {
    max-width: 52px;
  }

  .item-getintouch_blue {
    padding: 50px 20px;
  }

  .item-getintouch_blue .item-getintouch__icon {
    max-width: 52px;
  }
}

@media (max-width: 871px) {
  .footer__nav:not(:last-child) {
    margin: 0px 50px 50px 0px;
  }
}

@media (max-width: 865px) {
  .getintouch__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .getintouch__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    width: 100%;
  }

  .getintouch__column:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .item-getintouch {
    padding: 30px;
  }

  .item-getintouch_blue {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .consulcting__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .consulcting__btn {
    padding: 10px 70px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
    max-width: 1056px;
  }

  .hero {
    padding: 140px 0 160px 0;
  }

  .hero__title {
    font-size: 42px;
  }

  .features__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -115px -15px 0 0;
  }

  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .features__item:not(:last-child) {
    margin: 0 15px 15px 0;
  }

  .features__item:last-child {
    margin: 0px 15px 0px 0px;
  }

  .advantages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantages__row > :nth-child(1),
  .advantages__row :nth-child(2) {
    margin: 0px 0px 30px 0px;
  }

  .advantages__row > {
    margin: 0 -15px;
  }

  .advantages__column {
    padding: 0 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .advantages__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .whoweare__video {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-height: 400px;
    margin: 0px 0px 30px 0px;
  }

  .whoweare__video iframe {
    width: 100%;
    height: 400px;
  }

  .whoweare__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe__text {
    margin: 0px 0px 30px 0px;
    max-width: 100%;
    font-size: 20px;
  }

  .subscribe__input input {
    padding: 15px 60px 15px 20px;
  }

  .consulcting__text {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copyright {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 554px) {
  .header__logo {
    margin: 0px 40px 0px 0px;
  }
}

@media (max-width: 480px) {
  .footer__nav:last-child {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
  }
}

@media (max-width: 479px) {
  .advantages__row > :not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .advantages__row > {
    margin: 0 -10px;
  }

  .advantages__column {
    padding: 0 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .practice__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .whoweare__video {
    min-height: 300px;
  }

  .whoweare__video iframe {
    width: 100%;
    height: 300px;
  }

  .subscribe__text {
    text-align: center;
  }

  .subscribe__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe__input input {
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
  }

  .subscribe__btn {
    border-radius: 5px;
    line-height: 121%;
  }

  .consulcting__text {
    max-width: 280px;
  }

  .consulcting__title {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .hero__buttons > :not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
@supports (-webkit-appearance:none){
.footer__nav:last-child .footer__item:nth-child(2)::before{background:url("../img/footer/1.svg") center center no-repeat}
.footer__nav:last-child .footer__item:nth-child(3)::before{background:url("../img/footer/2.svg") center center no-repeat}
.footer__nav:last-child .footer__item:nth-child(4)::before{background:url("../img/footer/3.svg") center center no-repeat}
}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 871px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 865px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 554px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}
